{% extends 'base.html' %}

{% load static %}

{% block title %}Draw{% endblock %}

{% block css %}
<style type="text/css">
    .doubles-input, #singles-input, .result-input {
        width: 60px;
    }
    td, th {
        padding-right: 1em;
    }
    ul {
        width: 100%;
        padding-left: 30px;
    }
    .removed {
        color: gray;
    }
    .result-row {
        padding-top: 30px;
    }
    input[type=text] {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<div id="draws-container"></div>
<form id="dummy-form">
    {% csrf_token %}
</form>

{% endblock %}

{% block js %}
<script src="{% static 'js/draws.js' %}"></script>
<script type="text/javascript">
    $(function() {
        ReactDOM.render(
            React.createElement(
                Page,
                {
                    edit_history_url: "{% url 'edit_result' %}",
                    ranking_url: "{% url 'ranking_service' %}",
                    draw_service_url: "{% url 'draw_service' %}",
                    submit_url: "{% url 'enter_result' %}",
                    players_tab_url: "{% url 'players_tab' %}",
                    history: JSON.parse('{{ history|safe }}'),
                    all_players: {{ all_players|safe }},
                    all_disciplines: {{ all_disciplines|safe }}
                }
            ),
            document.getElementById('draws-container')
        );
        show_ranking("{% url 'ranking_service' %}");
    });
</script>
{% endblock %}
