<div class="row result-row">
    <div class="col result-col">
        <div class="row title">
            <div class="col-sm-3">
                <h3 class="history-round-number">Round {{ number }}</h3>
            </div>
            <div class="col-sm-1">
                <button class="edit-round" id="edit-round-{{ number }}" data-toggle="modal" data-target="#editResultsModal">&#x270E;</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <p><b>Doubles:</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for match in round.doubles %}
                    <div class="row doubles-row">
                    {% if match.players.items %}
                        {% for discipline, players in match.players.items %}
                            <div class="col-sm-2">
                                <p><span class="discipline">{{ discipline }}</span>:</p>
                            </div>
                            <div class="col-sm-4">
                                <p><span class="player t0-p0">{{ players.0.0 }}</span> + <span class="player t0-p1">{{ players.0.1 }}</span></p>
                            </div>
                            <div class="col-sm-4">
                                <p>vs.&emsp;<span class="player t1-p0">{{ players.1.0 }}</span> + <span class="player t1-p1">{{ players.1.1 }}</span></p>
                            </div>
                            <div class="col-sm-2">
                                <p class="result">{{ match.result.0 }} - {{ match.result.1 }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-sm-4">
                            <p><span class="player t0-p0">{{ match.players.0.0 }}</span> + <span class="player t0-p1">{{ match.players.0.1 }}</span></p>
                        </div>
                        <div class="col-sm-1">
                            <p>vs.</p>
                        </div>
                        <div class="col-sm-4">
                            <p><span class="player t1-p0">{{ match.players.1.0 }}</span> + <span class="player t1-p1">{{ match.players.1.1 }}</span></p>
                        </div>
                        <div class="col-sm-3">
                            <p class="result">{{ match.result.0 }} - {{ match.result.1 }}</p>
                        </div>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if round.singles %}
            <div class="row singles-row">
                <div class="col-sm-2">
                    <p><b>Singles:</b></p>
                </div>
                <div class="col-sm-{% if round.singles.players.items %}8{% else %}7{% endif %}">
                    {% if round.singles.players.items %}
                        {% for discipline, players in round.singles.players.items %}
                            <p><span class="discipline">{{ discipline }}</span>: <span class="player s0">{{ players.0 }}</span> vs. <span class="player s1">{{ players.1 }}</span></p>
                        {% endfor %}
                    {% else %}
                        <p><span class="player s0">{{ round.singles.players.0 }}</span> vs. <span class="player s1">{{ round.singles.players.1 }}</span></p>
                    {% endif %}
                </div>
                <div class="col-sm-{% if round.singles.players.items %}2{% else %}3{% endif %}">
                    <p class="result">{{ round.singles.result.0 }} - {{ round.singles.result.1 }}</p>
                </div>
            </div>
        {% endif %}
        {% if round.bye %}
            <div class="row bye-row">
                <div class="col-sm-2">
                    <p><b>Bye:</b></p>
                </div>
                <div class="col-sm-10">
                    <p><span class="player bye">{{ round.bye }}</span></p>
                </div>
            </div>
        {% endif %}
    </div>
</div>
