{% extends 'base.html' %}

{% load static %}

{% block title %}Players{% endblock %}

{% block css %}
<style type="text/css">
    td, th {
        padding-right: 1em;
    }
    .player-seed {
        width: 3em;
    }
    .player-name {
        width: 7em;
    }
    .game-category {
        padding-right: 1em;
        padding-left: 1em;
        border: 1px solid black;
        background-color: cadetblue;
        float: left;
    }
    .extra-margin {
        margin: 1mm 1mm 1mm 1mm;
    }
</style>
{% endblock %}

{% block content %}
<h1>The Lost And Found Bar Tournament</h1>
<div class="row">
    <h4>Categories:</h4>
    <div id="game-categories"></div>
</div>
<div class="row">
    <a href="{% url 'draw_tab' %}"><button type="button" class="btn btn-info extra-margin">Go to draw</button></a>
</div>
<div class="row" id="players-lists"></div>

<!-- Dummy form for placing the csrf token -->
<form id="dummy-form">
    {% csrf_token %}
</form>
{% endblock %}

{% block js %}
<script src="{% static 'js/players.js' %}"></script>
<script type="text/javascript">
    $(function() {
        ReactDOM.render(
            React.createElement(
                DisciplineList,
                {
                    add_discipline_url: "{% url 'add_discipline' %}",
                    remove_discipline_url: "{% url 'remove_discipline' %}",
                    disciplines: {{ categories|safe }} 
                }
            ),
            document.getElementById('game-categories')
        );

        ReactDOM.render(
            React.createElement(
                Players,
                {
                    add_player_url: "{% url 'add_player' %}",
                    edit_player_url: "{% url 'edit_player' %}",
                    remove_player_url: "{% url 'remove_player' %}",
                    activePlayers: {{ players|safe }},
                    removedPlayers: {{ removed|safe }}
                }
            ),
            document.getElementById('players-lists')
        );
    });
</script>
{% endblock %}
