{% load static %}

<h1>Ranking</h1>
<button type="button" class="btn btn-info" onclick='show_ranking("{% if use_cache %}{% static 'test/json/ranking.json' %}{% else %}{% url 'ranking_service' %}{% endif %}")'>compute ranking</button>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Wins</th>
            <th>Opponent points</th>
            <th>Point difference</th>
        </tr>
    </thead>
    <tbody id="ranking-table">
        {% for player in players %}
            <tr{% if player.removed %} class="removed"{% endif %}>
                <td>{{ player.Rang }}</td>
                <td class="player-name">{{ player.Name }}</td>
                <td>{{ player.Siege }}</td>
                <td>{{ player.Punkte }}</td>
                <td>{{ player.Punktedifferenz }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
